.navbar {
  background-color: var(--card-background);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0 2rem;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.logoutButton {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  padding: 8px 16px;
  border: 2px solid var(--primary-color);
}

.logoutButton:hover {
  background-color: var(--primary-color);
  color: white;
}